# 核心网络请求库
requests~=2.32.3
urllib3~=2.2.3

# 数据处理和输出格式
pandas~=2.2.3
openpyxl~=3.1.5

# 网络代理支持
PySocks~=1.7.1

# 网页解析
beautifulsoup4~=4.12.3

# GUI 主题库
ttkbootstrap~=1.10.1

# PDF 处理
pypdf~=5.3.0

# 加密
cryptography~=44.0.0

# 图像处理
Pillow~=11.1.0

# 二维码解析
pyzbar~=0.1.9

# 计算机视觉
opencv-python~=4.11.0

# 系统信息
psutil~=7.0.0

# 剪贴板
pyperclip~=1.9.0
